/* Navbar CSS */
.LinkClass {
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0.17px;
    font-weight: 800px;
    line-height: 100%;
    font-weight: 500px;
}

.LinkClass:focus,
.LinkClass:active,
.LinkClass:hover {
    background-color: #4bc6da;
    color: white;
    border-radius: 15px;
}

.HomePageConatiner {
    background: linear-gradient(to right, white, #83daf3);
}

.navHeadClass {
    /* background: radial-gradient(circle, #4BC6DA, white); */
    background: linear-gradient(to right, white, rgba(75, 198, 218, 0.5));
    width: 100%;

}

.vendingText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 4% !important;
}

.landingPageCarousal {
    margin-top: 6% !important;
}

.cardBlog {
    background: linear-gradient(to right, #83daf3, white);
}


/* Home Page CSS */

.venderingTech {
    color: #4BC6DA;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%;
    letter-spacing: 0.901px;
}



.newBusinessera {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.34px;
}



.discoverContainer {
    margin-top: 35px;
}

.discoverbtn {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 38.045px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.38px;
    display: inline-flex;
    padding: 16px 21px;
    justify-content: center;
    align-items: center;
    gap: 14.091px;
    border-radius: 21.136px;
    background: #74CEDC;
    text-decoration: none;
    margin-top: 40px;
    transition: background-color 0.3s ease;
}

.discoverbtn:hover {
    background: linear-gradient(to right, #052A37, #B7DADC);
    transform: scale(1.05);
    border: none;
}

.testmonialtext {
    color: rgba(50, 50, 50, 0.43) !important;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.18px;
}

.venderingbusinesscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 60vh;
}





.imageClasslogo {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: flex;
    justify-content: end;
    align-items: end;

}

.dotClass {
    position: relative;
    text-align: center;
    color: white;
}

.dotClass h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 51px;
    line-height: 100%;
    letter-spacing: 0.51px;
    width: 100%;
    max-width: 450px;
    font-weight: 700px;
}

.moreaboutbtn {
    display: inline-flex;
    padding: 21px 20px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 21.136px;
    background: #74CEDC;
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.3px;
    text-decoration: none;
    margin-top: 8px;
    transition: background-color 0.3s ease;
}

.moreaboutbtn:hover {
    background: linear-gradient(to right, #052A37, #B7DADC);
    transform: scale(1.05);
    border: none;
}



/* HomePage.css */

.dotClass {
    text-align: center;
    padding: 20px;
}


.h1Tagyalla {
    color: #000;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.51px;
}


.spanTagyalla {
    color: #4BC6DA;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.51px;
}



.loremtext {
    color: #000;

    font-family: "Adobe Devanagari";
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 27px */
    letter-spacing: 0.27px;
    text-align: justify;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.machineInsllated {
    color: #61C5D4;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 73px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    /* 73px */
    letter-spacing: 4.38px;
}







.twoCol {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}

.numbrcountclass {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-top: 15%;
    /* width: 100%;
    max-width: 650px; */
}


.productTag {
    color: rgba(50, 50, 50, 0.43);
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.18px;
}




.yallaproduct {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.34px;
}

.yallatag {
    color: #4BC6DA;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.34px;
}



.producttext {
    color: #000;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.12px;
}





.viewAllproducts {
    display: flex;
    width: 235px;
    height: 55px;
    padding: 7px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 1px solid #4BC6DA;
    background: #61C5D4;
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.19px;
    text-decoration: none;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.viewAllproducts:hover {
    background: linear-gradient(to right, #052A37, #B7DADC);
    transform: scale(1.05);
    border: none;
}


.moreservices {
    color: #FFF;
    text-decoration: none;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.27px;
    display: flex;
    width: 334px;
    height: 78px;
    padding: 7px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 1px solid #4BC6DA;
    margin-bottom: 30px;
    background: #61C5D4;
    transition: background-color 0.3s ease;
}

.moreservices:hover {
    background: linear-gradient(to right, #052A37, #B7DADC);
    transform: scale(1.05);
    border: none;
}


.vende_bgImage {
    display: flex;
    justify-content: end;
    align-items: end;
}

.btnContainerprpduct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dotImagecarousal {
    width: 100%;
    max-width: 180px;
    height: 100%;
    max-height: 250px;
}

.seeGallery {
    text-decoration: none;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.34px;
    margin-top: 2px;
}

.profitvenue {
    background-image: url('./Assets/HomePageAssets/profitvenue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1px;
}

.profittext {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 41px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.41px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}



.viewAllservicegetstarted {
    background-color: black;
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px;
    color: white;
    border-radius: 5px;
}

.serviceCards {
    width: 85%;
    height: auto;
}
.service-image {
    transition: transform 0.3s ease-out;
  }
  
  .service-image:hover {
    transform: scale(1.2);
  }

.allservicecards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
}

.service-image-five {
    rotate: 365deg;
    margin: -98px !important
}

.service-image-four {
    margin: -96px !important;
}

.service-image-two {
    margin-left: -30px;
}

.service-image-three {
    rotate: 360deg;
    margin-right: -27px;

}

.service-image-one {
    rotate: 0deg;
}
/* .adnoc_bg_image{
    background-image: url('./Assets/HomePageAssets/adnoc.png');
    background-repeat: no-repeat;
    background-size: cover;
} */


.TestamonialMianContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.VendingCorp {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carddatecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.peopletrustUs {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.3px;
}

.partnerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.footerContainer {
    background: radial-gradient(circle, rgba(34, 68, 74, 1) 0%, rgba(21, 21, 22, 1) 50%, rgba(24, 30, 31, 1) 100%);
    color: white;
}

.company_div {
    color: #FFF;
    font-family: Inter;
    font-size: 12.502px;
    font-style: normal;
    font-weight: 600;
    line-height: 21.158px;
    letter-spacing: 2.885px;
}


.footerText {
    color: #ADADAD;
    font-size: 15.387px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.005px;
}

.companyHELP {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carousalImage {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

.slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 100%;
    max-height: 60%;
    object-fit: contain;
}

.subscribeNewletter {
    color: #FFF;
    font-size: 12.502px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.158px;
    letter-spacing: 2.885px;
}

.subscribeBtn {
    width: 137.526px;
    height: 52.895px;
    flex-shrink: 0;
    border-radius: 0px 4.809px 4.809px 0px;
    background: #4BC6DA;
    color: #FFF;
    font-family: Poppins;
    font-size: 14.426px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}




.textField {
    display: flex;
    align-items: center;
    gap: 12.502px;
    align-self: stretch;
}

.instaText {
    color: rgba(50, 50, 50, 0.43);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.18px;
    text-align: center;
}

.cardPartnerContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.slider-container {
    width: 100%;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.dotImagecarousal {
    max-width: 50%;
    height: auto;
}

.blognews {
    color: #000;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.34px;
}



.vendertag {
    color: #4BC6DA;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.34px;
}

.copyright {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13.464px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.234px;
}

.yallaAbouttxt {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


.blogtextCard {
    overflow: hidden;
    color: var(--main-black, #2C2C2C);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.machineInstalledTxt {
    width: 100%;
    max-width: 500px;
}

.machineInstalledCol {
    display: flex;
    align-items: end;
}


/* styles.css */
@keyframes fadeInEaseOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-ease-out {
    animation: fadeInEaseOut 1s ease-out;
}

@keyframes logoAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.logoAnimated {
    animation: logoAnimation 2s infinite;
}

.numbrcountclass img {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.numbrcountclass img:nth-child(1) {
    animation-delay: 0s;
}

.numbrcountclass img:nth-child(2) {
    animation-delay: 0.5s;
}

.numbrcountclass img:nth-child(3) {
    animation-delay: 1s;
}

.numbrcountclass img:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .h1Tagyalla {
        font-size: 50px !important;
    }

    .spanTagyalla {
        font-size: 50px;
    }

    .loremtext {
        margin-top: 0rem;
    }

    .numbrcountclass {
        margin-top: 10%;
    }


    .companyHELP {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 20px;
    }


    .dotClass,
    .twoCol {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .machinenumbercountcontainer {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .machineInsllated {
        text-align: center;
        font-size: 45px;
    }

    .vende_bgImage {
        display: flex;
        justify-content: end;
        align-items: end;
    }
}

@media (min-width: 576px) {
    .imageClasslogo {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .imageClasslogo {
        width: 60%;
    }
}

@media (max-width: 1300px) and (min-width: 900px) {
    .venderingTech {
        font-size: 45px !important;
    }

    .discoverbtn {
        padding: 10px 21px;
        margin-top: 20px;
    }

    .h1Tagyalla {
        font-size: 35px !important;
        font-weight: 500 !important
    }

    .spanTagyalla {
        font-size: 35px !important;
        font-weight: 500 !important
    }

    .moreaboutbtn {
        padding: 10px 15px;
        margin-top: 20px;
        border-radius: 15px;
    }
}

@media (max-width: 1000px) and (min-width: 600px) {
    .venderingTech {
        font-size: 45px !important;
    }

    .discoverbtn {
        padding: 10px 21px;
        margin-top: 20px;
    }

    .h1Tagyalla {
        font-size: 35px !important;
        font-weight: 500 !important
    }

    .spanTagyalla {
        font-size: 35px !important;
        font-weight: 500 !important
    }

    .moreaboutbtn {
        padding: 10px 15px;
        margin-top: 20px;
        border-radius: 15px;
    }

    .loremtext {
        margin-top: 2%;
        font-size: 16px;
    }

    .machineInstalledCount {
        display: flex;
        flex-direction: column-reverse;
    }

    .machineInstalledCol {
        display: flex;
        justify-content: center;
    }

    .machineInsllated {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

    .numbrcountclass {
        margin-top: 3%;
    }
}

@media only screen and (max-width: 600px) {
    .venderingTech {
        font-size: 35px;
        text-align: center;
    }

    .dotImagecarousal {
        width: 80%;
        margin: auto;
    }

    .newBusinessera {
        text-align: center;
    }

    .vendingText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .machinenumbercountcontainer {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .discoverContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .venderingbusinesscontainer {
        height: 30vh;
    }

    .machineInsllated {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .profittext {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
    }

    .TestamonialMianContainer {
        display: flex;
        flex-direction: column;
    }

    .VendingCorp {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .imageClasslogo {
        width: 100%;
        height: 30%;
        max-width: 300px;
        display: flex;
        justify-content: end;
        align-items: end;

    }

    .VendingCorptext {
        color: #000;

        leading-trim: both;

        text-edge: cap;
        font-family: Inter;
        font-size: 19px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        /* 19px */
        letter-spacing: 0.19px;
    }

    .yallavenderingtext {
        color: #000;

        leading-trim: both;

        text-edge: cap;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        /* 25px */
        letter-spacing: 0.25px;
    }

    .viewAllservicegetstarted {
        background-color: black;
        text-decoration: none;
        padding: 5px 25px;
        margin: 10px;
        color: white;
        border-radius: 5px;
    }

    .seeGalleryLine {
        width: 70%;
    }

    .btnContainerprpduct {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
    }

    .vende_bgImage {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .yallaproduct {
        color: '#000';
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0.34px;
    }

    .discoverbtn {
        padding: 6px 16px;
        width: 100%;
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .moreaboutbtn {
        padding: 6px 16px;
        width: 100%;
        font-size: 28px;
    }

    .moreservices {
        width: 250px;
        height: 50px;
        padding: 7px 15px;
        font-size: 28px;
        font-size: 24px;
    }

    .h1Tagyalla {
        font-size: 24px !important;
        text-align: center;
    }

    .spanTagyalla {
        font-size: 30px !important;
        text-align: center;
    }

    .loremtext {
        font-size: 14px;
        margin-top: 2%;
    }

    .machineInstalledCount {
        display: flex;
        flex-direction: column-reverse;
    }

    .machineInstalledCol {
        display: flex;
        justify-content: center;
    }

    .numbrcountclass {
        margin-top: 3%;
    }
}