.image-col {
    margin-top: 20px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-col_one{
    margin-top: 20px;
    /* padding: 10px; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.image-col img {
    width: 70%;
    /* height: auto; */
    border-radius: 8px;
}

.Consumer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:1000px) and (min-width:570px) {
    .image-col img {
        width: 100%;
        height: 85%;
    }

    .yallaConsumerRow {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

@media (max-width:570px) and (min-width:200px) {
    .image-col img {
        width: 60%;
        height: 85%;
    }

    .yallaConsumerRow {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* @media (max-width:480px) {
    .image-col img {
        width: 60%;
        height: 85%;
    }

}

@media (max-width:400px) {
    .image-col img {
        width: 60%;
        height: 85%;
    }

} */